########################################################################

 #{{ banner_company_name | default('Entreprise') }}

 Toute personne qui se connecte ou tente de se connecter a ce systeme,
 qu'elle y soit autorisee ou non, reconnait que ses activites peuvent
 etre surveillees et enregistrees et que les informations correspondantes
 lui seront opposees si necessaire, notamment en cas de non-respect des
 regles internes.

 Any person who connects to this system or attemps to do so, whether duly
 authorized or not, acknowledges that their activities may be monitored
 or recorded and that the related informations could be used against them
 if relevant, notably in case of corporate rules violation.

########################################################################
