================================================================================
SYSTÈME D'HÉBERGEMENT APPLICATIF (SHA) - {{ environnement | default('PRODUCTION') | upper }}
================================================================================

Serveur: {{ ansible_hostname }}
Système: {{ ansible_distribution }} {{ ansible_distribution_version }}

ACCÈS RESTREINT - AUTHENTIFICATION REQUISE

================================================================================

